* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  --primary-color: white;
  --secondary-color: green;
}

header {
  background-color: #333333;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 40px;
  height: 40px;
}

header nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

header nav ul li a:hover {
  color: var(--secondary-color);
}





#banner {
  background-image: url("../assets/Fondo.png");
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-size: cover;
  color: white;
}

#banner h1 {
  font-size: 40px;
  position: absolute;
  /* Establecer el posicionamiento absoluto para el h1 */
  bottom: 35vh;
  /* Alinear el h1 en la parte inferior del contenedor */
  left: 120vh;
  /* Alinear el h1 a la izquierda del contenedor */
}

#banner h2 {
  font-size: 25px;
  color: white;
  position: absolute;
  bottom: 30vh;
  left: 110vh;
}

#banner h3 {
  font-size: 15px;
  color: white;
  position: absolute;
  bottom: -5vh;
  left: 85vh;
  margin: 20vh;
}

#banner img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 30px;
  min-height: 80vh;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: green;
  color: white;
  border-radius: 50px;
  text-align: center;

}

#products,
#oferts,
#contact {
  text-align: center;
  background-image: url("../assets/FondoMain.png");
  background-size: cover;
}


#products h2,
#oferts h2,
#contact h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}




#products img,
#oferts img,
#contact img {
  width: 200px;
  height: 170px;
}


#products .container-grid-products,
#oferts .container-grid-oferts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 20px;
}

#products .card,
#oferts .card {
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 6px 5px 45px -15px rgba(155, 150, 150, 0.75);
  border-radius: 10px;
  transition: 0.3s transform;
}

#products .card:hover,
#oferts .card:hover {
  transform: scale(1.03);
}

#products .card a,
#oferts .card a {
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 10px;
  display: block;
  width: 20%;
  margin: 10px auto;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#contact button {
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  display: block;
  width: auto;
  margin: auto;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}




#products .card,
#oferts .card {
  background-color: white;
}



form {
  width: 50%;
  padding: 30px;
  margin: auto;
}

form * {
  display: block;
  width: 100%;
  margin: 5px 0;
  border: none;
  outline: none;
}

form input {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
}

form textarea {
  border: 1px solid gray;
  padding: 40px 5px;
  border-radius: 5px;
}



footer {
  padding: 20px;
  background-color: green;
  color: white;
  text-align: center;
}

.pie-pagina {
  width: 100%;
  background-color: black;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-bottom: -50px;

}

.pie-pagina .grupo-1 .box img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}


@media (max-width: 880px) {

  #oferts .container-grid-oferts,
  #projects .container-grid-projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {

  #oferts .container-grid-oferts,
  #products .container-grid-products {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 880px) {

  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

@media (max-width: 480px) {

  .pie-pagina .grupo-1 {
    grid-template-columns: 1fr;
  }
}



.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}